.moviesGrid {
    display: grid;
    /* grilla 
       https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns
    */
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 70px;
    padding: 30px;
    justify-content: center;
}

@media (max-width: 560px) {
    .moviesGrid {
        grid-template-columns: 100%;
    }
}
